# Credenciales MQTT (NO VERSION AR ESTE ARCHIVO)
# Este archivo debe estar en .gitignore

# EMQX Cloud Configuration
mqtt.broker=ssl://b5c0bf2b.ala.us-east-1.emqxsl.com:8883
mqtt.username=notificationmanager
mqtt.password=and123...

# Instrucciones:
# 1. Copie este archivo como "local.properties" en la raíz del proyecto
# 2. Reemplace las credenciales con las correctas
# 3. NUNCA suba este archivo a control de versiones
